.Gatlist{
   overflow-y: scroll;
   width: 100%;
   height:6.15rem;
.Glist{
  
  .Gtitle{
    font-size: .18rem;
    font-weight:700;
    text-align: center;
  }
  .Category{
        width: 100%;
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include flex-wrap(wrap);
        overflow-y: scroll;
        .category{ 
        width: 45%;
        img{
          
          display:block;
      width: 1rem;
      height: 1rem;
      margin: 0.1rem auto;
        }
        p{
            font-size: .12rem;
            font-weight: normal;
            text-align: center;
          }
      }
  }
}
}