.Categorylist{
        width: 100%;
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include flex-wrap(wrap);
        overflow-y: scroll;
        height:6.23rem;
        background:#f2f2f2;
        li{ 
        width: 1.7rem;
        height:2.3rem;
        background:#fff;
        margin:.05rem;
        img{  
          display:block;
     	 width: 1.2rem;
     	 height: 1.2rem;
      	 margin: 0.1rem auto;
        }
        p{
            font-size: .12rem;
            font-weight: normal;
            text-align: center;
          }
          b {
          font-size: .14rem;
          font-weight: normal;
          padding-left:.4rem;
          color: green;
    }
      }
  }