@import "../fragment/yo-header";

@include yo-header(
  $name: b,
  $bgcolor: #fff,
  $item-ico-color: #07ae51,
  $border-color:#ccc,
  $color: #333,
  $font-size: .16rem
){
	.affirm {
		color: #07ae51
	}
}
.detail{
  
 @include flexbox();
 @include flex-direction(column);
  .m-boardtail {
  overflow-y: scroll;
   @include flex(1);
  width: 100%;
  height:5.73rem;
    .mint-swipe {
      height: 3.6rem;
      img {
        width: 100%;
      }
    }
    b {
          font-size: .16rem;
          font-weight: normal;
          text-align: center;
       }
   p {
          font-size: .14rem;
          font-weight: normal;
          
          color: green;
    }
  }  
   nav {
    height: .5rem;

    ul {
      width: 100%;
      height: 100%;
      @include flexbox();
      li {
        @include flex();
        line-height: .5rem;

        span{
            @include flexbox();
             text-align: center;
            color: #07ae51;
            font-size: .24rem;
          
            width: .3rem;
            
        }

        b {
              width: .7rem;
              height: .5rem;
              color: #07ae51;
              font-size: .14rem;
              font-weight: normal;
            }
          &.active span{
          color: #35495e;
        }
      }
    }
  }
}