
.liststart{
    overflow-y: scroll;
    @include flex();
    width: 100%;
    overflow: hidden;
    p{
        text-align: center;
    }
}
.liststart .listp{
    text-align: center;
    color:#666;
    width: 100%;
    background: #eee;   
  
}


.Liststart{
      width: 100%;
      @include flexbox();
      @include flex-direction(row);
      @include justify-content(center);
      @include flex-wrap(wrap);
      .Listdata{ 
      width: 45%;
      img{
        
        display:block;
    width: 1rem;
    height: 1rem;
    margin: 0.1rem auto;
      }
      p{
          font-size: .12rem;
          font-weight: normal;
          text-align: center;
        }
    }
}