section{
     @include flex();
    width: 100%;
    background: #fff;
    overflow-y: scroll;
}
.liststart{
    overflow-y: scroll;
    @include flex();
    width: 100%;
    overflow: hidden;
    p{
        text-align: center;
    }
}
.liststart .listp{
    text-align: center;
    color:#666;
    width: 100%;
    background: #eee;   
  
}
.liststart img{
    display:block;
    width: 1rem;
    height: 1rem;
    margin: 0.1rem auto;
}